@import './utilites.scss';

.Exercise {
    margin-top: 1.5rem;
    &-name {
        color: $color-light;
        font-size: 1rem;
        font-weight: 500;
    }
    &-settings {
        cursor: pointer;
        margin-top: 0.25rem;
        height: 1rem;
        width: 1.5rem;
        margin-right: 1rem;
        &-selector {
            font-size: 0.85rem;
            margin-top: 0.25rem;
            @include selector; 
            color: $color-lightgrey;
        }
        &-rename {
            margin-top: 0.25rem;
            &-input {
                padding: 0.25rem 0.5rem;
                color: $color-light;
            }
        }
    }
    &-grid {
        
        &-head {
            display: grid;
            grid-template-columns: repeat(4, 0.5fr) 1fr;
            margin-top: 0.75rem;
            margin-bottom: 0.25rem;
            &-item {
                width: 60px;
                margin-right: 0.5rem;
                text-align: center;
                font-size: 0.75rem;
                font-family: $font-family-mono;
                text-transform: uppercase;
                &-sets {
                    width: 41px;
                }
            }
        }
    }
    &-addSet {
        @include button;
    }
}

.button { @include button };
.input { @include input };
