@import './utilites.scss';

.Set {
    & {
        padding: 0.25rem 0 0.25rem 0;
        display: grid;
        grid-template-columns: repeat(4, 0.5fr) 1fr;
        gap: 0.5rem;
    }
    
    &-number {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        font-family: $font-family-main;
    }
    &-input {
        font-family: $font-family-mono;
        font-size: 0.75rem;
        width: 3.75rem;
        background-color: $color-dark;
        color: $color-lightgrey;
        border-radius: 0.33rem;
        text-align: end;
    }
    &-icons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;
        flex-direction: row;
    }
    &-check {
        cursor: pointer;
        img { width: 1.25rem; }
    }
    &-delete {
        cursor: pointer;
        img { height: 1.25rem; }
    }
}
