@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Mono&display=swap');

$font-family-main: 'Poppins', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;

$color-darker: #191B1F;
$color-dark: #212429;
$color-lightgrey: #C3C5CB;
$color-light: #fff;
$color-danger: #D63031;
$color-action: #423E7A;
$color-action-light: #363547;

@mixin button {
    cursor: pointer;
    margin-top: 0.5rem;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    color: $color-light;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.5rem;
    transition: 0.3s;
    &:hover {
        background-color: $color-dark;
    }
}

@mixin input {
    background-color: $color-dark;
    color: $color-light;
    border-radius: 0.33rem;
}

@mixin selector {
    padding: 0.25rem 0.5rem;
    background-color: $color-dark;
    color: $color-light;
    border-radius: 0.33rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $font-family-main;
    color: $color-light;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}