@import './utilites.scss';

.WorkoutForm {
    color: $color-lightgrey;
    margin-bottom: 10rem;
    &-title {
        color: $color-light;
    }
    &-settings {
        img { width: 1.5rem; }
    }
    &-icons {
        display: flex;
        gap: 1rem;
    }
    &-selector {
        margin-top: 0.5rem;
        @include selector;
    }

    &-button {
        @include button;
    }
    &-cancelWorkout {
        color: $color-danger;
    }

    &-newEx {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        &-button-cancel {
            color: $color-danger !important;
        }
    }
}